<div class="section-experience">
    <div class="habilities">
        <i class="bi-hdd-fill icons"></i>
        <h3>Back-End</h3>
        <p>
            Experiancia en el desarrollo de backend, junto con unit test y otros.
        </p>

        <p class="text-primary header">
            Stack:
        </p>

        <p>
            SQL Server, MYSQL, SQLite, Python, Java, C# etc.
        </p>

        <p class="text-primary header">
            Experiencias:
        </p>

        <ul>
            <li>APS.Net core MVC</li>
            <li>Webs APIS</li>
            <li>Java MVC</li>
            <li>C# MVC</li>
            <li>Entity Framework</li>
        </ul>
    </div>

    <div class="habilities">
        <i class="bi-code-slash icons"></i>
        <h3>Front-End</h3>

        <p>Creacion de front-ends robustes, segun los requerimentos del negocio</p>

        <p class="text-primary header">
            Stack:
        </p>

        <p>
            React, Vue, Blazor
        </p>

        <p class="text-primary header">
            Experiencias:
        </p>

        <ul>
            <li>React Hooks</li>
            <li>jQuery</li>
            <li>LeaftLafe</li>
            <li>Another</li>
        </ul>
    </div>
</div>
