@{
    ViewData["Title"] = "Inicio";
    ViewData["Nombre"] = "Urias Ismael Flores";
    ViewData["Edad"] = "20";
}

<div class="text-center">
    <h1 class="display-4">Soy Urias Flores</h1>
    <h2 class="display-6">Soy un desarrollador junior en web y escritorio</h2>

    <img src="/img/Foto.jpeg" alt="Image-" class="foto">
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Este es mi portafolio de proyectos realizados</h1>
        <p>
            Soy desarrollador web y desarrollador de aplicaciones de escritorio
            utilizando lenguajes y tecnologias, como java y c# para el desarrollo
            en escritorio, javascript, html, css, php, python para desarrollo de
            aplicaciones web.
        </p>
    </div>
</div>
