

@{
    ViewData["Title"] = "Gracias!";
}

<div class="container text-center">
    <p class="display-5">Gracias <strong>@Model.Nombre</strong> por ponerte en contacto conmigo.</p>
    <p class="display-6">Respondere a tus problemas o inquietudes tan pronto como me sea posible. :)</p>
    <a asp-controller="Home" asp-action="index" class="btn btn-primary">Volver a inicio</a>
</div>
