@model IEnumerable<ProyectDTO>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Proyectos</h1>
    <p>Aqui podras encontrar todos los proyectos que he realizado.</p>

    <partial name="_IteradorProyectos" />
</div>
